[submodule "living-looper-juce"]
	path = living-looper-juce
	url = git@github.com:victor-shepardson/living-looper-juce
[submodule "living-looper-sc"]
	path = living-looper-sc
	url = git@github.com:victor-shepardson/living-looper-sc
